[Unit]
Description=redirect.name
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/redirect-name
Environment=CERT_DIR=/mnt/certs
Restart=always
RestartSec=5
User=redirect
Group=redirect
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/mnt/certs
PrivateTmp=true

[Install]
WantedBy=multi-user.target
